{% extends "header.html" %}
{% block content %}
<h1>About</h1>
<h2>CMSC388J Final Project</h2>
<h3>By: Sanjay Murugesan & Adhithya Kannan</h3>
<p>We made a meme sharing social media website, similar to 9gag. It will has that displays memes posted in real time. In order to interact with a post, or post a new meme, one must make an account. We will try to implement a basic upvote and downvote system as well. Each user account page will display that users’ posts and their comment history.</p>
{% endblock %}